/* Custom Stylesheet */
/**
* Use this file to override Materialize files so you can update
* the core Materialize files in the future
*
* Made By MaterializeCSS.com
*/

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

@media only screen and (min-width: 0) {
	html {
		font-size: 12.5px;
	}
}
.dropdown-content {
	top: 100% !important;
}

@media only screen and (min-width: 992px) {
	html {
		font-size: 13px;
	}
}

@media only screen and (min-width: 1200px) {
	html {
		font-size: 14px;
	}
}
.btn i,
.btn-large i,
.btn-small i,
.btn-floating i,
.btn-large i,
.btn-small i,
.btn-flat i {
	font-size: 1.3rem;
	line-height: inherit;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
}
h6 {
	font-size: 1rem;
	line-height: 110%;
	margin: 0.7666666667rem 0 0.46rem 0;
	margin-top: 0.766667rem;
	margin-bottom: 0.46rem;
	margin-bottom: -1px;
	margin-top: 0.5em;
}
.labelwhite {
	display: inline-block;
	border-radius: .28571429rem;
	background-color: white;
	font-weight: normal;
	padding: 5px 5px 5px 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.ui.segmentheader {
	position: relative;
	background: #fff;
	margin: 0.5rem 0;
	margin-top: 0.5rem;
	margin-left: 1.3rem;
	padding: 1em 1em;
	color: #512da8;
	border-radius: .28571429rem;
	border: 3px solid rgb(249, 247, 252);
}
.inasti-stat {
	background-position: right bottom;
	background-repeat: no-repeat;
	border-right: 1px solid #e7e7e7;
	margin-left: 0;
	vertical-align: middle;
	background-image: url(../img/affil-bg.png);
	background-color: white;
}
.white-stat {
	background-position: right bottom;
	background-repeat: no-repeat;
	margin-left: 0;
	vertical-align: middle;
	background-color: rgba(0, 0, 0, 0.01);
	color: white;
	height: 5.8em;
}
@font-face {
	font-family: 'digital-clock-font';
	src: url('../fonts/digital-7/digital-7.ttf');
}
/*
*/
/**{
   font-family: 'Raleway', sans-serif;
}*/
* {
	font-family: 'Roboto';
}
/*h1, h2, h3, h4, h5, h6{
   font-family: 'Raleway', sans-serif;
}*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto';
}

body {
	margin: 0;
	background-color: #f7f7f7;
}
.digital {
	font-family: 'Roboto';
	font-style: normal;
	font-size: 40px;
}
i.right {
	float: right;
	margin-left: 2px;
}
div.btn {
	float: left;
	height: 3rem;
	line-height: 2.2rem;
}
.pagination li {
	display: inline-block;
	border-radius: 60px;
	text-align: center;
	vertical-align: top;
	height: 30px;
	background-color: #f7f7f7;
	margin-left: 5px;
}
.digitalsmall {
	font-family: 'Roboto';
	font-style: normal;
	font-size: 29px;
}
td,
th {
	padding: 10px 10px;
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	border-radius: 2px;
	font-size: 0.85em;
}
thead {
	background-color: #f7f7f7;
}
/*
nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
  height: 50px;
  line-height: 50px;
}
*/
.purplefont {
	color: #512da8;
	text-align: center;
	horizontal-align: center;
}
.purplefontinst {
	color: #512da8;
	text-align: center;
	font-weight: strong;
	horizontal-align: center;
	font-size: 1.4em;
}

.whitefont {
	color: white;
	text-align: center;
	horizontal-align: center;
}
.whitefontinst {
	color: white;
	text-align: center;
	font-weight: strong;
	horizontal-align: center;
	font-size: 1.4em;
}
html {
	line-height: 1.5;
	font-family: 'Roboto';
	font-weight: normal;
	color: rgba(0, 0, 0, 0.87);
}
.devider {
	border-top: 1px solid rgba(34, 36, 38, .15);
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	margin-bottom: 10px;
}
.labelaff {
	display: inline-block;
	border-radius: .28571429rem;
	background-color: #8372a9;
	color: #ffffff;
	font-size: 9px;
	line-height: 0.5em;
	font-weight: normal;
	padding: 5px 5px 5px 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}

input {
	font-family: 'Roboto';
}
#judul {
	border-radius: 10em;
	border: 1px solid rgba(34, 36, 38, .15);
	height: 2em;
	margin-top: 10px;
	padding-left: 10px;
}

.btn {
	border-radius: 10em;
	box-shadow: none;
	border: 1px solid #f7f7f7;
}
/* ribbon-3 */
.ribbon-3 {
	width: 300px;
	height: 50px;
	background: #512ca8;
	top: 10px;
	left: -15px;
	padding-left: 30px;
	padding-top: 10px;
	color: white;
	font-size: 17px;
}
.card-panel {
	box-shadow: none;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: white;
}
nav {
	height: 51px;
	line-height: 51px;
}

.ribbon {
	position: absolute;
}
.ribbon-panel {
	width: 300px;
	height: 50px;
	background: #512ca8;
	top: 10px;
	left: 15px;
	margin-left: -35px;
	padding-left: 10px;
	padding-top: 10px;
	color: white;
	font-size: 17px;
	-webkit-border-top-right-radius: 40px;
	-webkit-border-bottom-right-radius: 40px;
	-moz-border-radius-topright: 40px;
	-moz-border-radius-bottomright: 40px;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
}

.ribbon-userpanel {
	width: 300px;
	height: 50px;
	background: #512ca8;
	top: 10px;
	left: 15px;
	margin-left: -15px;
	margin-top: 10px;
	padding-left: 20px;
	padding-top: 10px;
	color: white;
	font-size: 17px;
	-webkit-border-top-right-radius: 40px;
	-webkit-border-bottom-right-radius: 40px;
	-moz-border-radius-topright: 40px;
	-moz-border-radius-bottomright: 40px;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
}

.ribbon-mainpanel {
	width: 68%;
	height: 45px;
	background: #512ca8;
	top: 10px;
	left: 0px;
	margin-left: 16%;
	margin-bottom: -10px;
	margin-top: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: white;
	font-size: 17px;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
.ribbon-3:before {
	content: "";
	position: absolute;
	top: -10px;
	left: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid #512ca8;
	border-top: 5px solid transparent;
	border-bottom: 0px solid #512ca8;
}

.ribbon-3:after {
	content: "";
	position: absolute;
	top: 0px;
	right: -50px;
	border-left: 25px solid #512ca8;
	border-right: 25px solid transparent;
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
}
/* ribbon-4 */
.ribbon-4 {
	width: 350px;
	height: 50px;
	background: #512ca8;
	top: 10px;
	left: 20px;
	padding-left: 10px;
	margin-left: -25px;
	padding-top: 10px;
	color: white;
	font-size: 20px;
	-webkit-border-top-right-radius: 40px;
	-webkit-border-bottom-right-radius: 40px;
	-moz-border-radius-topright: 40px;
	-moz-border-radius-bottomright: 40px;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
}
.ribbon-4:before {
	content: "";
	position: absolute;
	top: -10px;
	left: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid #512ca8;
	border-top: 5px solid transparent;
	border-bottom: 0px solid #512ca8;
}

.ribbon-4:after {
	content: "";
	position: absolute;
	top: 0px;
	right: -50px;
	border-left: 25px solid #512ca8;
	border-right: 25px solid transparent;
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
}

.pagination li.active {
	background-color: #502da7;
}
.btn:hover,
.btn-large:hover,
.btn-small:hover {
	background-color: #502da7;
	font-family: 'Roboto';
}
.btn,
.btn-large,
.btn-small {
	background-color: #502da7;
	font-family: 'Roboto';
}
nav ul a,
nav .brand-logo {
	color: #444;
}
.activenav {
	background-color: #512da8;
	color: #fff;
}
nav ul a {
}
.navborder {
	border-top: 5px solid #512da8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
nav .brand-logo {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
}
div .imgbg img {
	width: 30px;
}
p {
	line-height: 2rem;
}
.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}
.sidenav-trigger {
	color: #512da8;
}
.parallax {
	background-color: #512da8;
}

.parallax-container {
	min-height: 440px;
	height: auto;
	color: rgba(255, 255, 255, .9);
}
.parallax-container .section {
	width: 20%;
}
.uk-align-left {
	margin-right: 15px;
	float: left;
}
[class*="uk-align-"] {
	display: block;
	margin-bottom: 15px;
}
.links-area ul li a {
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #ffffff;
}
.tnoborder tr {
	border: 0px;
}
.page-footer {
	font-size: 12px;
	padding-top: 40px;
}
.ui.segment {
	position: relative;
	background: #fff;
	/*  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15); */
	margin: 0.5rem 0;
	margin-top: 0.5rem;
	padding: 1em 1em;
	border-radius: .24571429rem;
	border: 1px solid rgba(34, 36, 38, .15);
}
.pola {
	background-color: #ffffff;
	/*background-image: url("data:image/svg+xml,%3Csvg width='24' height='20' viewBox='0 0 24 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 18c0-1.105.887-2 1.998-2 1.104 0 2-.895 2.002-1.994V14v6h-4v-2zM0 13.998C0 12.895.888 12 2 12c1.105 0 2 .888 2 2 0 1.105.888 2 2 2 1.105 0 2 .888 2 2v2H0v-6.002zm16 4.004A1.994 1.994 0 0 1 14 20c-1.105 0-2-.887-2-1.998v-4.004A1.994 1.994 0 0 0 10 12c-1.105 0-2-.888-2-2 0-1.105-.888-2-2-2-1.105 0-2-.887-2-1.998V1.998A1.994 1.994 0 0 0 2 0a2 2 0 0 0-2 2V0h8v2c0 1.105.888 2 2 2 1.105 0 2 .888 2 2 0 1.105.888 2 2 2 1.105 0 2-.888 2-2 0-1.105.888-2 2-2 1.105 0 2-.888 2-2V0h4v6.002A1.994 1.994 0 0 1 22 8c-1.105 0-2 .888-2 2 0 1.105-.888 2-2 2-1.105 0-2 .887-2 1.998v4.004z' fill='%23efefef' fill-opacity='0.87' fill-rule='evenodd'/%3E%3C/svg%3E");
*/
	padding-bottom: 10px;
	margin-bottom: -55px;
}
.ui.grid.stat-box {
	padding: 0em 0em 0em 0em;
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23f0ecf7' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
	margin-top: 0px;
	border-bottom: solid 2px #512da8;
}
.ui.grid {
	margin-top: 0rem;
	margin-bottom: 0rem;
	margin-left: 0rem;
	margin-right: 0rem;
}

.ui.grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	padding: 0;
}
.ui.attached.label,
.ui[class*="top attached"].label {
	width: 100%;
	position: absolute;
	margin: 0;
	top: 0;
	left: 0;
	padding: .75em 1em;
	border-radius: .21428571rem .21428571rem 0 0;
}
.ui.label {
	display: inline-block;
	line-height: 1;
	vertical-align: baseline;
	margin: 0 .14285714em;
	background-color: #e8e8e8;
	background-image: none;
	padding: .5833em .833em;
	color: rgba(0, 0, 0, .6);
	text-transform: none;
	font-weight: 700;
	border: 0 solid transparent;
	border-radius: .28571429rem;
	-webkit-transition: background .1s ease;
	transition: background .1s ease;
}
.ui.list,
ol.ui.list,
ul.ui.list {
	list-style-type: none;
	margin: 1em 0;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0 0;
	padding-bottom: 0px;
}
.ui.relaxed.list:not(.horizontal) > .item:not(:last-child) {
	padding-bottom: .42857143em;
}
.ui.selection.list .list > .item,
.ui.selection.list > .item {
	cursor: pointer;
	background: 0 0;
	padding: 1em 0.5em;
	padding-bottom: 0.5em;
	margin: 0;
	color: rgba(0, 0, 0, .4);
	border-radius: .5em;
	-webkit-transition: .1s color ease, .1s padding-left ease, .1s background-color ease;
	transition: .1s color ease, .1s padding-left ease, .1s background-color ease;
}

.ui.list.cit-dl > .item .header {
	color: #512da8;
	font-weight: normal;
	padding: 0 0 0 0em;
	vertical-align: top;
	display: table-cell;
}
.ui.list .list > .item .description,
.ui.list > .item .description {
	display: block;
	color: rgba(0, 0, 0, .7);
}
.footer-header {
	overflow: hidden;
	min-height: 50px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0px 0px;
	color: rgba(255, 255, 255, 0.8);
	background-color: #512da8;
	border-bottom: 1px solid #252827;
}
a.content {
	display: table-cell;
}
.links-area ul li {
	list-style: none;
	display: inline;
	text-align: center;
	padding: 18px;
}
@media only screen and (max-width: 992px) {
	.parallax-container .section {
		position: absolute;
		top: 40%;
	}
	#index-banner .section {
		top: 10%;
	}
}
.section {
	margin: -1em 1em 1em 1em;
}
@media only screen and (max-width: 600px) {
	#index-banner .section {
		top: 0;
	}
}
.ui.list .list > .item > i.icon,
.ui.list > .item > i.icon {
	display: table-cell;
	margin: 0;
	padding-top: 0;
	padding-right: .28571429em;
	vertical-align: top;
	-webkit-transition: color .1s ease;
	transition: color .1s ease;
	color: #512da8;
}
.ui.list.cit-dl > .item > .content > .description {
	font-size: .759em;
}
.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

footer.page-footer {
	margin: 0;
}

/*-------- TAMBAHAN ----------------*/
/*----------------------------------------
Cards
------------------------------------------*/
.card {
	overflow: hidden;
}

#card-stats .card-content {
	text-align: center;
}

#card-stats .card-stats-title {
	font-size: 1rem;
}

#card-stats .card-stats-title i {
	font-size: 1.2rem;
	top: 4px;
	position: relative;
}

#card-stats .card-stats-compare {
	font-size: 1.0rem;
}

#card-stats .card-stats-compare i {
	position: relative;
	top: 5px;
}

#card-stats .card-stats-number {
	font-size: 1.8rem;
	line-height: 2.0rem;
	margin: 0.2rem 0 0.2rem 0;
	font-weight: 500;
}

#card-stats .card .card-content {
	padding: 10px 14px;
}

#card-stats .card .card-action {
	padding: 10px 14px;
}

/* alert card */
#card-alert .card-content {
	padding: 10px 20px;
}

#card-alert i {
	font-size: 20px;
	position: relative;
	top: 2px;
}

#card-alert .alert-circle {
	display: inline-block;
	width: 40px;
	white-space: nowrap;
	border-radius: 1000px;
	vertical-align: bottom;
	position: relative;
	top: -5px;
	left: -2px;
}

#card-alert .single-alert {
	line-height: 42px;
}

#card-alert button {
	background: none;
	border: none;
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 20px;
	color: #fff;
}

#card-alert .card .card-content {
	padding: 20px 40px 20px 20px;
}

#card-alert .card-action i {
	top: 0;
	margin: 0;
}

/* work card */
#work-collections .collection-header {
	font-size: 1.14rem;
	font-weight: 500;
}

#work-collections p.collections-title {
	font-size: 1.0rem;
	padding: 0;
	margin: 0;
	font-weight: 500;
}

#work-collections p.collections-content {
	font-size: 0.9rem;
	padding: 0;
	margin: 0;
	font-weight: 400;
}

#work-collections .collection-item.avatar {
	height: auto;
	padding-top: 22px;
}

/* flight card */
#flight-card .flight-card-title {
	margin: 0;
	font-weight: 300;
	color: #fff;
}

#flight-card .flight-card-date {
	font-size: 1.0rem;
	margin: 0;
	color: #fff;
}

#flight-card .flight-state {
	padding-bottom: 15px;
}

#flight-card .flight-state-two {
	border-left: 1px dashed #bdbdbd;
}

#flight-card .flight-icon {
	font-size: 2.2rem;
	display: block;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

#flight-card .card-content-bg {
	background: url("../../images/gallary/3.png") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#flight-card .card-content {
	background: rgba(0, 0, 0, 0.25);
}

#flight-card .flight-state-wrapper {
	margin: 0 0 100px 0 !important;
}

#flight-card .card-header .card-title {
	padding: 20px;
}

/* task card */
#task-card label {
	display: block;
	color: rgba(0, 0, 0, 0.87);
	height: auto;
}

#task-card .task-card-title {
	margin: 0;
	color: #fff;
	font-weight: 300;
}

#task-card .task-card-date {
	font-size: 1.0rem;
	margin: 0;
	color: #fff;
}

#task-card .collection-header {
	padding: 20px;
}

#task-card .task-add {
	position: absolute;
	right: 10px;
	top: 76px;
}

#task-card .task-cat {
	padding: 2px 4px;
	color: #fff;
	margin-left: 37px;
	font-weight: 300;
	font-size: 0.8rem;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-clip: padding-box;
}

.task-cat {
	padding: 2px 4px;
	color: #fff;
	font-weight: 300;
	font-size: 0.8rem;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-clip: padding-box;
}

.collection .collection-item.avatar i.circle {
	font-size: 28px;
}

/* profile card */
#profile-card .card-image {
	height: 150px;
}

#profile-card .card-profile-image {
	width: 70px;
	position: absolute;
	top: 110px;
	z-index: 1;
	cursor: pointer;
}

#profile-card .btn-move-up {
	position: relative;
	top: -40px;
	right: -18px;
	margin-right: 10px !important;
}

#profile-card .card-content p {
	font-size: 1.2rem;
	margin: 10px 0 12px;
}

.card-move-up .move-up {
	padding: 20px;
}

.black-overlay {
	background-color: rgba(0, 0, 0, 0.42) !important;
}

/* Icon Background Round */
.background-round {
	background-color: rgba(0, 0, 0, 0.18);
	padding: 15px;
	border-radius: 50%;
}
.gradient-45deg-light-blue-teal {
	background: #b3e5fc;
	background: -webkit-linear-gradient(45deg, #b3e5fc 0%, #64ffda 100%);
	background: linear-gradient(45deg, #b3e5fc 0%, #64ffda 100%);
}

.gradient-45deg-light-blue-teal.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(100, 255, 218, 0.5);
}

.gradient-45deg-indigo-light-blue {
	background: #c5cae9;
	background: -webkit-linear-gradient(45deg, #c5cae9 0%, #b3e5fc 100%);
	background: linear-gradient(45deg, #c5cae9 0%, #b3e5fc 100%);
}

.gradient-45deg-indigo-light-blue.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(179, 229, 252, 0.5);
}

.gradient-45deg-light-blue-indigo {
	background: #b3e5fc;
	background: -webkit-linear-gradient(45deg, #b3e5fc 0%, #9fa8da 100%);
	background: linear-gradient(45deg, #b3e5fc 0%, #9fa8da 100%);
}

.gradient-45deg-light-blue-indigo.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(159, 168, 218, 0.5);
}

.gradient-45deg-yellow-green {
	background: #ffff8d;
	background: -webkit-linear-gradient(45deg, #ffff8d 0%, #b9f6ca 100%);
	background: linear-gradient(45deg, #ffff8d 0%, #b9f6ca 100%);
}

.gradient-45deg-yellow-green.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(185, 246, 202, 0.5);
}

.gradient-45deg-orange-deep-orange {
	background: #ffe0b2;
	background: -webkit-linear-gradient(45deg, #ffe0b2 0%, #ffccbc 100%);
	background: linear-gradient(45deg, #ffe0b2 0%, #ffccbc 100%);
}

.gradient-45deg-orange-deep-orange.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(255, 204, 188, 0.5);
}

.gradient-45deg-deep-purple-purple {
	background: #d1c4e9;
	background: -webkit-linear-gradient(45deg, #d1c4e9 0%, #f3e5f5 100%);
	background: linear-gradient(45deg, #d1c4e9 0%, #f3e5f5 100%);
}

.gradient-45deg-deep-purple-purple.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(243, 229, 245, 0.5);
}

.gradient-45deg-red-pink {
	background: #ff5252;
	background: -webkit-linear-gradient(45deg, #ff5252 0%, #f48fb1 100%);
	background: linear-gradient(45deg, #ff5252 0%, #f48fb1 100%);
}

.gradient-45deg-red-pink.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(244, 143, 177, 0.5);
}

.gradient-45deg-light-green-amber {
	background: #c5e1a5;
	background: -webkit-linear-gradient(45deg, #c5e1a5 0%, #fff8e1 100%);
	background: linear-gradient(45deg, #c5e1a5 0%, #fff8e1 100%);
}

.gradient-45deg-light-green-amber.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(255, 248, 225, 0.5);
}

.gradient-45deg-amber-amber {
	background: #ff6f00;
	background: -webkit-linear-gradient(45deg, #ff6f00 0%, #ffca28 100%);
	background: linear-gradient(45deg, #ff6f00 0%, #ffca28 100%);
}

.gradient-45deg-amber-amber.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(255, 111, 0, 0.3);
}

.gradient-45deg-purple-pink {
	background: #ea80fc;
	background: -webkit-linear-gradient(45deg, #ea80fc 0%, #fce4ec 100%);
	background: linear-gradient(45deg, #ea80fc 0%, #fce4ec 100%);
}

.gradient-45deg-purple-pink.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(252, 228, 236, 0.5);
}

.gradient-45deg-indigo-light-blue {
	background: #3949ab;
	background: -webkit-linear-gradient(45deg, #3949ab 0%, #4fc3f7 100%);
	background: linear-gradient(45deg, #3949ab 0%, #4fc3f7 100%);
}

.gradient-45deg-indigo-light-blue.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(79, 195, 247, 0.5);
}

.gradient-45deg-teal-cyan {
	background: #e0f2f1;
	background: -webkit-linear-gradient(45deg, #e0f2f1 0%, #00e5ff 100%);
	background: linear-gradient(45deg, #e0f2f1 0%, #00e5ff 100%);
}

.gradient-45deg-teal-cyan.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(0, 229, 255, 0.5);
}

.gradient-45deg-blue-grey-blue-grey {
	background: #cfd8dc;
	background: -webkit-linear-gradient(45deg, #cfd8dc 0%, #546e7a 100%);
	background: linear-gradient(45deg, #cfd8dc 0%, #546e7a 100%);
}

.gradient-45deg-blue-grey-blue-grey.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(84, 110, 122, 0.5);
}

.gradient-45deg-cyan-light-green {
	background: #0097a7;
	background: -webkit-linear-gradient(45deg, #0097a7 0%, #b2ff59 100%);
	background: linear-gradient(45deg, #0097a7 0%, #b2ff59 100%);
}

.gradient-45deg-cyan-light-green.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(178, 255, 89, 0.5);
}

.gradient-45deg-orange-amber {
	background: #e65100;
	background: -webkit-linear-gradient(45deg, #e65100 0%, #ffa000 100%);
	background: linear-gradient(45deg, #e65100 0%, #ffa000 100%);
}

.gradient-45deg-orange-amber.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(25, 118, 210, 0.5);
}

.gradient-45deg-indigo-blue {
	background: #303f9f;
	background: -webkit-linear-gradient(45deg, #303f9f 0%, #1976d2 100%);
	background: linear-gradient(45deg, #303f9f 0%, #1976d2 100%);
}

.gradient-45deg-indigo-blue.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(25, 118, 210, 0.5);
}

.gradient-45deg-brown-brown {
	background: #6d4c41;
	background: -webkit-linear-gradient(45deg, #6d4c41 0%, #d7ccc8 100%);
	background: linear-gradient(45deg, #6d4c41 0%, #d7ccc8 100%);
}

.gradient-45deg-brown-brown.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(187, 222, 251, 0.5);
}

.gradient-45deg-blue-grey-blue {
	background: #263238;
	background: -webkit-linear-gradient(45deg, #263238 0%, #2979ff 100%);
	background: linear-gradient(45deg, #263238 0%, #2979ff 100%);
}

.gradient-45deg-blue-grey-blue.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(41, 121, 255, 0.5);
}

.gradient-45deg-purple-deep-orange {
	background: #8e24aa;
	background: -webkit-linear-gradient(45deg, #8e24aa 0%, #ff6e40 100%);
	background: linear-gradient(45deg, #8e24aa 0%, #ff6e40 100%);
}

.gradient-45deg-purple-deep-orange.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(255, 110, 64, 0.5);
}

.gradient-45deg-green-teal {
	background: #43a047;
	background: -webkit-linear-gradient(45deg, #43a047 0%, #1de9b6 100%);
	background: linear-gradient(45deg, #43a047 0%, #1de9b6 100%);
}

.gradient-45deg-green-teal.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(77, 182, 172, 0.5);
}

.gradient-45deg-purple-light-blue {
	background: #e040fb;
	background: -webkit-linear-gradient(45deg, #e040fb 0%, #4fc3f7 100%);
	background: linear-gradient(45deg, #e040fb 0%, #4fc3f7 100%);
}

.gradient-45deg-purple-light-blue.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(79, 195, 247, 0.5);
}

.gradient-45deg-cyan-cyan {
	background: #18ffff;
	background: -webkit-linear-gradient(45deg, #18ffff 0%, #00e5ff 100%);
	background: linear-gradient(45deg, #18ffff 0%, #00e5ff 100%);
}

.gradient-45deg-cyan-cyan.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(0, 229, 255, 0.5);
}

.gradient-45deg-yellow-teal {
	background: #fff9c4;
	background: -webkit-linear-gradient(45deg, #fff9c4 0%, #64ffda 100%);
	background: linear-gradient(45deg, #fff9c4 0%, #64ffda 100%);
}

.gradient-45deg-yellow-teal.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(100, 255, 218, 0.5);
}

.gradient-45deg-purple-deep-purple {
	background: #7b1fa2;
	background: -webkit-linear-gradient(45deg, #7b1fa2 0%, #7c4dff 100%);
	background: linear-gradient(45deg, #7b1fa2 0%, #7c4dff 100%);
}

.gradient-45deg-purple-deep-purple.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(124, 77, 255, 0.5);
}

.gradient-45deg-cyan-light-green {
	background: #00e5ff;
	background: -webkit-linear-gradient(45deg, #00e5ff 0%, #ccff90 100%);
	background: linear-gradient(45deg, #00e5ff 0%, #ccff90 100%);
}

.gradient-45deg-cyan-light-green.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(204, 255, 144, 0.5);
}

.gradient-45deg-purple-amber {
	background: #d500f9;
	background: -webkit-linear-gradient(45deg, #d500f9 0%, #ffa000 100%);
	background: linear-gradient(45deg, #d500f9 0%, #ffa000 100%);
}

.gradient-45deg-purple-amber.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(255, 160, 0, 0.5);
}

.gradient-45deg-indigo-purple {
	background: #303f9f;
	background: -webkit-linear-gradient(45deg, #303f9f 0%, #7b1fa2 100%);
	background: linear-gradient(45deg, #303f9f 0%, #7b1fa2 100%);
}

.gradient-45deg-indigo-purple.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(123, 31, 162, 0.5);
}

.gradient-45deg-deep-purple-blue {
	background: #6200ea;
	background: -webkit-linear-gradient(45deg, #6200ea 0%, #1976d2 100%);
	background: linear-gradient(45deg, #6200ea 0%, #1976d2 100%);
}

.gradient-45deg-deep-purple-blue.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(25, 118, 210, 0.5);
}

.gradient-45deg-deep-orange-orange {
	background: #bf360c;
	background: -webkit-linear-gradient(45deg, #bf360c 0%, #f57c00 100%);
	background: linear-gradient(45deg, #bf360c 0%, #f57c00 100%);
}

.gradient-45deg-deep-orange-orange.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(245, 124, 0, 0.5);
}

.gradient-45deg-light-blue-cyan {
	background: #0288d1;
	background: -webkit-linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
	background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
}

.gradient-45deg-light-blue-cyan.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(38, 198, 218, 0.5);
}

.gradient-45deg-blue-indigo {
	background: #2962ff;
	background: -webkit-linear-gradient(45deg, #2962ff 0%, #3949ab 100%);
	background: linear-gradient(45deg, #2962ff 0%, #3949ab 100%);
}

.gradient-45deg-blue-indigo.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(57, 73, 171, 0.5);
}

.gradient-45deg-semi-dark {
	background: #00aeff;
	background: -webkit-linear-gradient(180deg, #00aeff 0%, #3369e6 100%);
	background: linear-gradient(-90deg, #00aeff 0%, #3369e6 100%);
}

.gradient-45deg-semi-dark.gradient-shadow {
	box-shadow: 0 6px 20px 0 rgba(51, 105, 230, 0.5);
}

/* Padding All */
.padding-1 {
	padding: 1% !important;
}

.padding-2 {
	padding: 2% !important;
}

.padding-3 {
	padding: 3% !important;
}

.padding-4 {
	padding: 4% !important;
}

.padding-5 {
	padding: 5% !important;
}

.padding-6 {
	padding: 6% !important;
}

.padding-7 {
	padding: 7% !important;
}

.padding-8 {
	padding: 8% !important;
}

.padding-9 {
	padding: 9% !important;
}

.padding-10 {
	padding: 10% !important;
}

.p-0 {
	padding: 0 !important;
}

/* Padding Top */
.pt-0 {
	padding-top: 0% !important;
}

.pt-1 {
	padding-top: 1% !important;
}

.pt-2 {
	padding-top: 2% !important;
}

.pt-3 {
	padding-top: 3% !important;
}

.pt-4 {
	padding-top: 4% !important;
}

.pt-5 {
	padding-top: 5% !important;
}

.pt-6 {
	padding-top: 6% !important;
}

.pt-7 {
	padding-top: 7% !important;
}

.pt-8 {
	padding-top: 8% !important;
}

.pt-9 {
	padding-top: 9% !important;
}

.pt-10 {
	padding-top: 10% !important;
}

/* Padding Right */
.pr-0 {
	padding-right: 0% !important;
}

.pr-1 {
	padding-right: 1% !important;
}

.pr-2 {
	padding-right: 2% !important;
}

.pr-3 {
	padding-right: 3% !important;
}

.pr-4 {
	padding-right: 4% !important;
}

.pr-5 {
	padding-right: 5% !important;
}

.pr-6 {
	padding-right: 6% !important;
}

.pr-7 {
	padding-right: 7% !important;
}

.pr-8 {
	padding-right: 8% !important;
}

.pr-9 {
	padding-right: 9% !important;
}

.pr-10 {
	padding-right: 10% !important;
}

/* Padding Right */
.pl-0 {
	padding-left: 0% !important;
}

.pl-1 {
	padding-left: 1% !important;
}

.pl-2 {
	padding-left: 2% !important;
}

.pl-3 {
	padding-left: 3% !important;
}

.pl-4 {
	padding-left: 4% !important;
}

.pl-5 {
	padding-left: 5% !important;
}

.pl-6 {
	padding-left: 6% !important;
}

.pl-7 {
	padding-left: 7% !important;
}

.pl-8 {
	padding-left: 8% !important;
}

.pl-9 {
	padding-left: 9% !important;
}

.pl-10 {
	padding-left: 10% !important;
}

/* Padding Bottom */
.pb-0 {
	padding-bottom: 0% !important;
}

.pb-1 {
	padding-bottom: 1% !important;
}

.pb-2 {
	padding-bottom: 2% !important;
}

.pb-3 {
	padding-bottom: 3% !important;
}

.pb-4 {
	padding-bottom: 4% !important;
}

.pb-5 {
	padding-bottom: 5% !important;
}

.pb-6 {
	padding-bottom: 6% !important;
}

.pb-7 {
	padding-bottom: 7% !important;
}

.pb-8 {
	padding-bottom: 8% !important;
}

.pb-9 {
	padding-bottom: 9% !important;
}

.pb-10 {
	padding-bottom: 10% !important;
}

/* Minimum Height */
.min-height-100 {
	min-height: 100px !important;
}

.min-height-150 {
	min-height: 150px !important;
}

.min-height-200 {
	min-height: 200px !important;
}

.min-height-250 {
	min-height: 250px !important;
}

.min-height-300 {
	min-height: 300px !important;
}
.collection {
	border: none;
}
.collection a.collection-item {
	color: #512da8;
	border-left: 2px solid;
	-webkit-border-top-right-radius: 40px;
	-webkit-border-bottom-right-radius: 40px;
	-moz-border-radius-topright: 40px;
	-moz-border-radius-bottomright: 40px;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	border-right: 1px solid #e8e8e8;
	border-top: 0.5px solid #e8e8e8;
	border-bottom: 0.5px solid #e8e8e8;
}
@media only screen and (min-width: 601px) {
	nav.nav-extended .nav-wrapper {
		min-height: 50px;
	}
	nav,
	nav .nav-wrapper i,
	nav a.sidenav-trigger,
	nav a.sidenav-trigger i {
		height: 50px;
		line-height: 50px;
	}
	.navbar-fixed {
		height: 50px;
	}
}
@media only screen and (min-width: 0px) {
	nav.nav-extended .nav-wrapper {
		min-height: 50px;
	}
	nav,
	nav .nav-wrapper i,
	nav a.sidenav-trigger,
	nav a.sidenav-trigger i {
		height: 50px;
		line-height: 50px;
	}
	.navbar-fixed {
		height: 50px;
	}
}
.collection .collection-item:last-child {
	border-bottom: 0.5px solid #e8e8e8;
}
.collection .collection-item.active {
	background-color: #512da8;
	color: #eafaf9;
	border-left: 2px solid #512da8;
	border-bottom: 1px solid #e8e8e8;
}
.dropdown-content li > a,
.dropdown-content li > span {
	font-size: 14px;
	color: #512da8;
	display: block;
	line-height: 22px;
	padding: 14px 16px;
}
.select-wrapper input.select-dropdown:focus {
	border-bottom: 1px solid #512da8;
}
.h-line {
	background: #5e5e5e;
	width: 70px;
	height: 3px;
	margin-bottom: 20px;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #512da8;
	-webkit-box-shadow: 0 1px 0 0 #512da8;
	box-shadow: 0 1px 0 0 #512da8;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
	color: #512da8;
}

#judul:not(.browser-default):focus:not([readonly]) {
	border-radius: 10em;
	border: 1px solid rgba(88, 36, 38, .15);
	height: 2em;
	margin-top: 10px;
}
